.main{
    width:80%;
    margin:5px auto;
}
.box {
    display:grid;
    grid-template-columns: 50% 50%;
}
.box .picture img{
    width:50%;
}
.box .picture img[src="dog1.jpg"]{
    width:60%;
    border:10px solid whitesmoke;
    margin:40px 5px;
    transform: rotate(20deg);
}